@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap')

body
  margin: 0
  font-family: 'Dosis', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

code
  font-family: 'Space Mono', monospace

:root
  --primary-accent-color: #3943B7
  --secondary-accent-color: #9E9ED8
  --heading-color: #E9E9F5
  --font-color: #E1E2EF
  --primary-bg-color: #2F2E38
  --secondary-bg-color: #1D1D21

.light
  --primary-accent-color: #302AE6
  --secondary-accent-color: #536390
  --heading-color: #292922
  --font-color: #424242
  --primary-bg-color: #2F2E38
  --secondary-bg-color: #1D1D21

html
  background-color: var(--primary-bg-color)
