
token = "DISCORD_TOKEN_HERE"
prefix = "~"

[colours]
help = 0xD3A6F6
moderator = 0xF05101
music = 0x7289DA
commands = 0xC542F5
error = 0xff0000
ranks = 0x00ff00

[database]
db_type = "sqlite"

[modules]
[modules.ranks]
default_level_up_message = "GG %player%, you just advanced to level %level%"

[web]
port = 8000
[web.oauth]
api_url = "https://discord.com/api/v9"
client_id = "CLIENT_ID"
client_secret = "CLIENT_SECRET"
